{% extends 'base.html' %}

{% block title %}Cadastrar Paciente{% endblock %}

{% block content %}
<div class="auth-container">
  <h2>Cadastro de Paciente</h2>
  <form method="POST">
    <input type="text" name="name" placeholder="Nome completo" required>
    <input type="date" name="birth_date" placeholder="Data de nascimento">
    <input type="text" name="cpf" placeholder="CPF (000.000.000-00)">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="phone" placeholder="Telefone">
    <textarea name="observations" placeholder="Observações Clínicas"></textarea>
    <button type="submit" class="btn-register">Cadastrar Paciente</button>
  </form>
</div>
{% endblock %}